@model WebAppCrudMVC.Models.Kategori

@{
    ViewBag.Title = "Kategori Sil";
}

<h2>Kategori Sil</h2>

<h3 class="text-danger">Kategoriyi Silmek İstediğinize Emin Misiniz?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.KategoriAd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KategoriAd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KategoriAciklama)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KategoriAciklama)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UrunAd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UrunAd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fiyat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fiyat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stok)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stok)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

<div class="form-actions no-color mt-3">
    <input type="submit" value="Sil" class="btn btn-danger" />
    @Html.ActionLink("Listeye Dön", "Index", null, new { @class = "btn btn-success" })
</div>
    }
</div>


